CombinedMesh.mat
CombinedMeshP.mat
/Anything/**
/DemoCoilGUI/**
/DemoCoilGUI.prj
/DemoCoilGUI_resources/**
*.asv
fort.13
GUIEngine/coil.mat
GUIEngine/coilCAD.mat
GUIEngine/prev_session.mat
GUIEngine/tissue_index.txt
GUIEngine/processEFieldWorkspace.mat
*/tissue_index.txt
/tissue_index.txt
/*.mat
/Coil/*.mat
/Coil/testH1Coil1.m
